@import url('./_reset.css');
@import url('./_tokens.css');
@import url('./_type.css');
@import url('./_utilities.css');
@import url('./illustrations.css');

html,
body,
#app {
  min-height: 100%;
}

.wp-studio {
  min-height: 100dvh;
}

main {
  flex: 0 0 auto;
}

main > section,
.site-footer {
  flex: 0 0 auto;
}
